* {
    margin: 0;
    padding: 0;
    font-family: ShadowsIntoLightTwo-Regular; 
}

/* Header */

header {
    background-color: blueviolet;
}

h1 {
    color: aqua;
}

/* Navigation Bar */
header nav {
    float: right;
}

header nav li {
    display: inline;
    text-decoration: none;
}

a {
    font-family: ShadowsIntoLightTwo-Regular; 
}

/* Headshot Image */
img {
    width: 400px;
    height: auto;
    border-radius: 8px;
    /* add box shadow */
}

img:hover {
    border: 8px solid palevioletred;
}