* {
    margin: 0;
    padding: 0;
}

/* Colors:
light slate #b4c9ce
dark slate #7192b1
taupe #d2d8ce
turqoise #356976  */


/* Header & Footer - Color: taupe with slate text*/
header,
footer {
    background-color: #d2d8ce;
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-family: "Gill Sans", sans-serif;
    color: #7192b1;
}

/* header {
    position: fixed;
    top: 0
} */

footer {
    position: static;
    margin-top: 20px;
    bottom: 0;
}

/* Body - Color: light to dark slate, turqoise text*/
body {
    position: relative;
    background: #b4c9ce;
    background: linear-gradient(90deg, #b4c9ce 0%, #7192b1 100%);
    color: #356976;
    font-size: 20px;
    font-family: ShadowsIntoLightTwo-Regular;
}

/* Navigation Bar - Color: taupe with slate text */
header , header nav ul {
    position: static;
    top: 0;
    width: 100%;
    overflow: hidden;
}

header nav li {
    display: inline;
    text-align: center;
    padding: 0 20px;
}

header nav a {
    font-size: large;
    text-decoration: none;
    color: #7192b1;
}

nav a:hover {
    color: #356976;
}

/* Main */
main {
    padding: 60 px 0;
    position: relative;
}

.text-center {
    text-align: center;
}

/* Intro Section - Color: turqoise and taupe text */
h1 {
    margin: 40px 0 0 0;
  
}

#paragraph1 {
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    color: #d2d8ce
}

#training {
    font-style: italic;
}

/* Headshot Image */
img {
    width: 400px;
    height: auto;
    border-radius: 25%;
    opacity: 0.85;
}

/* Meat Sections */
.meat {
    margin: 20px;
    padding: 20px;
    background-color: #d2d8ce;
    border: 6px solid #7192b1;
}

h3 {
    font-size: 21px;
    text-decoration: underline;
    color: #7192b1;
}

.paragraph2 {
    font-family: "Gill Sans", sans-serif;
    font-size: 18px;
    color: #7192b1;
}

/* Portfolio Section */
.tile {
    width: 200px;
    height: auto;
    border-radius: 0;
}

.holder {
    width: 150px;
}

.link:hover {
    box-shadow: 9px 8px 27px -6px #356976;
}


/* About Section */
figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.aboutImages {
    height: 250px;
    width: auto;
    padding-bottom: 10px;
    flex: 2 0 1;
}

.aboutImages:hover {
    opacity: 1;
    height: 400px;
}

/* Contact Section*/
#contactList li {
    padding: 0 20px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

#contactList a {
    text-decoration: none;
    color: #356976;
    font-size: 20px;
}

#contactList a:hover {
    color: #7192b1;
}

/* Media Queries */
@media screen and (max-width: 600px) {
   header {
    position: flex;
    flex-wrap: wrap;
    /* height: 80px;
    line-height: 80px; */
    } 

    header nav li {
        display: inline-flex;
        text-align: center;
        justify-content: space-between;
        padding: 0 0;
    }

    img {
        height: 300px;
        width: auto;
    }

    /* separate media queries not needed at this time. holding in comment until needed. */
    /* .aboutImages {
        height: 300px;
        width: auto;
    }
    .tile {
        height: 300px;
        width: auto;
    } */
}